@charset "UTF-8";
@font-face {
  font-family: "SFProDisplay-Regular";
  src: local("SF Pro Text Regular"), local("SFProDisplay-Regular"), url("../assets/fonts/SFProText-Regular.woff2") format("woff2"), url("../assets/fonts/SFProText-Regular.woff") format("woff"), url("../assets/fonts/SFProText-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

input, textarea {
  width: 100%;
  height: 100%;
  display: block;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "SFProDisplay-Regular", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #939393;
}

.main-container {
  width: 30%;
  height: 100%;
}
@media (max-width: 1024px) {
  .main-container {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .main-container {
    width: 90%;
  }
}

.content-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.emoji-picker-wrapper {
  display: none;
  width: 100%;
  height: 40%;
}
.emoji-picker-wrapper.active {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.emoji-picker-container {
  width: 290px;
  height: 100%;
  min-height: 100px;
  border: 1px solid #C5D0DB;
  border-radius: 4px;
  padding: 9px 0 36px 0;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.emoji-block_wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-left: 4px;
  display: none;
}
.emoji-block_wrapper.active {
  display: block;
}

.emoji-recent_wrapper {
  display: none;
  width: 100%;
  height: 100%;
}
.emoji-recent_wrapper.active {
  display: block;
}

.emoji-recent {
  width: 100%;
  height: 100%;
  padding: 0 4px;
}
.emoji-recent:empty:before {
  color: #939393;
  font-size: 13px;
  line-height: 18px;
  padding-left: 5px;
  content: "Вы еще не использовали эмоджи";
}

.emoji-toolbar {
  width: 100%;
  height: 36px;
  background-color: #EBEEF2;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 0 3px 3px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.emoji-toolbar__button {
  width: 36px;
  height: 100%;
  background-color: transparent;
  transition: 0.1s ease-in all;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.emoji-toolbar__button.active {
  background-color: #ffffff;
  transition: 0.1s ease-in all;
}

.emoji-block {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.emoji-block__container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 9px;
}

.emoji__wrap {
  background-color: transparent;
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emoji-addButton__container {
  background-color: transparent;
  width: 22px;
  height: 22px;
  border-radius: 3px;
  transition: 0.1s ease-in all;
  font-size: 13px;
  line-height: 22px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.emoji-addButton__container:hover {
  background-color: #F0F2F5;
  transition: 0.1s ease-in all;
}
.emoji-addButton__container:active {
  background-color: #C5D0DB;
}

.emoji-heading {
  font-size: 13px;
  line-height: 15px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.emoji-picker-pointer {
  background-image: url("../assets/icons/emoji-picker-pointer.svg");
  width: 24px;
  height: 10px;
  position: relative;
  top: -1px;
  right: 7px;
}

.input-wrapper {
  background-color: #fff;
  width: 100%;
  min-height: 36px;
  margin-bottom: 10%;
}

.input-container {
  width: 100%;
  height: 100%;
  border: 1px solid #C5D0DB;
  border-radius: 4px;
  padding: 9px 36px 9px 9px;
  position: relative;
}

.input {
  max-height: 180px;
  min-height: 18px;
  height: auto;
  overflow: auto;
  width: 100%;
  cursor: text;
  color: #000;
  font-family: "SFProDisplay-Regular", sans-serif;
  font-size: 13px;
  border: none;
  outline: none;
  line-height: 18px;
  resize: none;
}
.input:focus:empty:before {
  color: transparent;
}
.input:empty:before {
  color: #939393;
  font-size: 13px;
  line-height: 18px;
  content: "Ваше сообщение";
}

.button-container {
  position: absolute;
  right: 0;
  top: 0;
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.emoji-button {
  background-image: url("../assets/icons/emoji-button.svg");
  height: 20px;
  width: 20px;
}

.emoji {
  height: 16px;
  width: 16px;
  margin: 0 1px;
  overflow: hidden;
  vertical-align: middle;
}

/*# sourceMappingURL=style.css.map */
